.worksection {
  width: 375px;
  height: auto;
  background-color: #f2f2f9; 
  display: grid;
  grid-template-rows: 590px 630px 590px 590px;
  padding-top: 144px;
  padding-bottom: 114px ;
  grid-row-gap: 88px;
  }

.card {
  margin-left:16px;
  display: flex;
  flex-direction: column;
  width: 327px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.snapshot {
  margin-left: 16px;
  margin-top: 16px;
}

.content {
  margin-top: 12px;
  margin-left: 16px;
}

.content h2 {
  font-family: Poppins, sans-serif;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  display: inline;
}

.content img {
  margin-top: 12px;
}

.content p {
  font-family: Poppins, sans-serif;
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.content button{
  color: var(--primary-b-500, #396DF2);
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
  display: block;
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070FF);
  display: flex;
  padding: 12px;
  align-items: center; 
  background-color: white;
  cursor: pointer;
}
button:hover{
  background-color: #DFE1E6;
}