body {
  background-color: #f2f2f9;
}

.mobile {
  width: 375px;
  height: auto;
}

.intro {
  border-bottom-left-radius: 80px;
  background-color: white;
}

.Bar {
  display: flex;
}

.mylogo {
  width: auto 100px;
  height: auto 40px;
  justify-content: flex-start;
  padding-top: 8px;
  padding-left: 12px;
}

.desktopBackground {
  display: none;
}

.body span {
  padding-left: 24px;
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2px;
}

.mylogo span {
  color: #6070ff;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  padding: 12px 10px 12px 10px;
}

.hamburger {
  padding-left: 199px;
}

.hamburger img {
  padding: 8px 8px 8px 8px;
  width: 24px;
  height: 24px;
}

.body {
  position: absolute;
  top: 22px;
}

.Main {
  display: flex;
  margin-top: 144px;
  margin-left: 18px;
}

.bio p {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.content p {
  font-family: Poppins, sans-serif;
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card2 p {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -32px;
}

.framework p {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: inline;
}

.contact p {
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.desktopBar {
  display: none;
}

.Main div p {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  display: inline;
}

.bio {
  display: flex;
  justify-content: first baseline;
  width: 327px;
  height: 180px;
  padding-left: 18px;
}

.icons {
  width: 170.167px;
  height: 20px;
  padding-left: 24px;
  margin-top: 12px;
}

.background {
  position: relative;
}

.worksection {
  background-color: #f2f2f9;
  display: grid;
  grid-template-rows: 590px 630px 590px 590px;
  padding-top: 144px;
  padding-bottom: 114px;
  grid-row-gap: 88px;
}

.card {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  width: 327px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.snapshot {
  margin-left: 16px;
  margin-top: 16px;
}

.content {
  margin-top: 12px;
  margin-left: 16px;
}

.content h2 {
  font-family: Poppins, sans-serif;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  display: inline;
}

.content img {
  margin-top: 12px;
}

.content button {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
  letter-spacing: 0.51px;
  display: block;
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  padding: 12px;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: #dfe1e6;
}

.aboutsection {
  display: grid;
  grid-template-rows: 380px 600px;
  padding-top: 114px;
  grid-row-gap: 24px;
  padding-bottom: 114px;
  background-color: white;
  border-top-right-radius: 80px;
}

.card2 {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 900px;
}

.card2 h2 {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  display: inline;
}

.card2 span {
  margin-top: 12px;
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2px;
  margin-left: 2px;
}

.card2 svg {
  margin-top: 30px;
  margin-left: 10px;
}

.card2 button {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background-color: white;
  width: 162px;
  height: 48px;
  cursor: pointer;
  margin-top: 14px;
  margin-left: -1px;
}

.desktopWorksection {
  display: none;
}

.contact form button {
  height: 48px;
  width: 142px;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
  border-radius: 8px;
  border: var(--neutrals-n-0, #fff);
  margin-left: 25px;
  background-color: white;
  margin-top: 12px;
}

.card2 button:hover {
  background-color: #dfe1e6;
}

.card2 nav {
  display: flex;
}

.card2 h3 {
  padding-left: 7px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.card2 nav svg {
  padding-left: 160px;
  margin-top: 20px;
}

.list {
  width: 300px;
  height: 249px;
}

.list ul {
  margin-left: -45px;
  display: flex;
  flex-direction: column;
}

.list ul li {
  width: 295px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  padding: 12px;
  list-style-type: none;
  margin: 12px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
  gap: 16px;
}

.list ul li a {
  margin-right: 84px;
}

.list ul svg {
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
}

.framework img {
  width: 24px;
  height: 24px;
  margin-top: -50px;
  margin-left: 150px;
}

.list ul img {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 150px;
  margin-left: 20px;
}

#html {
  margin-left: -35px;
}

#css {
  width: 50px;
  height: 51px;
  position: absolute;
  margin-top: 265px;
  margin-left: 22px;
}

#csstext {
  margin-left: -35px;
}

.framework {
  width: 327px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 12px;
}

#skills {
  margin-left: 225px;
}

#skilltext {
  margin-left: 2px;
}

.languages {
  display: none;
}

.contact {
  margin-left: -9px;
  margin-bottom: -9px;
  background-color: #6070ff;
  border-top-left-radius: 15%;
  margin-top: 240px;
  background-image: url('contact\ form\ shapes-mobile.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 55px;
}

.contact h2 {
  color: white;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  text-align: center;
  padding-top: 103px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}

.contact form input {
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  width: 327px;
  height: 48px;
  margin-left: 24px;
  margin-top: 30px;
}

.contact form textarea {
  font-family: 'Poppins', sans-serif;
  width: 327px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  margin-left: 24px;
  margin-top: 13px;
}

.contact form input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  padding-left: 10px;
  color: #999;
}

.contact form textarea::placeholder {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
  color: #999;
}

.contact form button:hover {
  background-color: #7a869a;
}

.contactText {
  width: 327px;
  height: 127px;
  margin-left: 18px;
}

@media (min-width: 800px) {
  .mobile {
    width: 1440px;
    height: 846px;
  }

  .hamburger {
    display: none;
  }

  .background {
    width: 1500px;
    height: 800px;
    margin-top: 60px;
  }

  .mylogo {
    margin-left: 150px;
  }

  .desktopBar {
    display: flex;
    margin-left: 786px;
    margin-top: -5px;
  }

  .desktopBar ul li {
    display: inline;
    padding: 5px;
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .body {
    margin-top: 194px;
    margin-left: 276px;
  }

  .bio {
    display: flex;
    justify-content: first baseline;
    width: 920px;
    height: 98px;
    padding-left: 18px;
  }

  .worksection {
    display: none;
  }

  .desktopWorksection {
    background-color: #f2f2f9;
    display: grid;
    grid-template-rows: 590px 630px 590px 590px;
    padding-top: 144px;
    padding-bottom: 114px;
    grid-row-gap: 88px;
  }

  .card {
    width: 1156px;
    height: 496px;
    margin-left: 100px;
    flex-direction: row;
  }

  .content {
    margin-left: 45px;
    width: 800px;
  }

  .content h2 {
    display: block;
  }

  .content img {
    margin-top: -10px;
  }

  .rightImage {
    width: 544px;
    height: 448px;
    margin-left: 230px;
  }

  .content p {
    width: 450px;
  }

  .rightsnapshot {
    margin-top: 30px;
    margin-left: -250px;
    padding-right: 12px;
  }

  .contactText {
    margin-left: 436px;
    width: 569px;
    height: 102px;
  }

  .contact form {
    margin-left: 496px;
  }

  .contact form input {
    width: 447px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--base-100, #cfd8dc);
    background: var(--mono-white, #fff);
  }

  .contact form textarea {
    width: 447px;
    border-radius: 2px;
    border: 1px solid var(--base-100, #cfd8dc);
    background: var(--mono-white, #fff);
  }

  .contact form button {
    margin-top: 20px;
    margin-left: 165px;
  }

  .aboutsection {
    display: flex;
    justify-content: center;
  }

  .icon {
    display: none;
  }

  .list {
    display: none;
  }

  #second h3 {
    display: none;
  }

  .languages {
    width: 684px;
  }

  #first {
    margin-left: -100px;
  }
}
