.aboutsection{
    width:375px;
    height: auto;
    display: grid;
    grid-template-rows: 380px 600px ;
    padding-top:114px;
    grid-row-gap: 24px;
    padding-bottom: 114px;
}
.card{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    width:327px;
    height:900px;
}
.card h2{
    color: var(--neutrals-n-800, #172B4D);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    display: inline;
}

.card p{
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top:-32px; 
}
.card span{
    margin-top: 12px;
    color: var(--primary-b-300, #7f8cff);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 2px;   
}

.card svg{
    margin-top:30px;
}

.card button{
    color: var(--primary-b-500, #396DF2);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
    margin-top: 5px;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070FF);
    background-color: white;
    width:162px;
    height:48px;
    margin-top:16px;
    cursor: pointer;
}
.card button:hover{
    background-color: #DFE1E6;
}

.card nav{
    display: flex;
    
}
.card h3{
    padding-left: 7px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.card nav svg{
    padding-left: 160px;
    margin-top: 20px;
}
.list{
    width:300px;
    height:249px;

}
.list ul{
    margin-left: -45px;;
    display: flex;
    flex-direction: column;
}
.list ul li{
    width:295px;
    height:67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    padding: 12px;
    list-style-type: none;
    margin:12px;
    border-radius: 8px;
    background: var(--neutrals-n-10, #F7F7F9);
    gap: 16px;
}
.list ul li a{
    margin-right: 84px;
}
.list ul svg{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
}
.list ul img{
    width:50px;
    height: 50px;
    position: absolute;
    margin-top:150px;
    margin-left:20px;
}
#html{
    margin-left: -35px;
}
#css{
    width: 50px;
    height: 51px;
    position: absolute;
    margin-top:265px;
    margin-left: 22px;
}
#csstext{
    margin-left: -35px;
}
.framework{
    width: 327px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-left: 12px;
}
.framework p{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    display: inline;
}
.framework img{
    width:24px;
    height: 24px;
    margin-top:-50px;
    margin-left: 150px;
}
#skills{
    margin-left: 225px;
}
#skilltext{
    margin-left:2px;
}